@mixin especialista {
    .cards__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
    }

    .cards__container--index {
        justify-content: space-between;
    }

    .cards__card {
        position: relative;
        flex-basis: calc(25% - 40px);
        margin-bottom: 30px;
        box-shadow: 0px 0px 0px 3px rgba(125, 125, 125, .1);

        background-color: $colorBgCard;
        transition: transform 300ms ease-in-out;
    }

    .cards__card:hover {
        transform: translateY(-10px);
        box-shadow: 0px 0px 0px 3px rgb(74, 157, 236, .4);
    }

    .cards__card:hover .card__title,
    .cards__card:hover .card__title--clic {
        color: $colorSecundario;
    }

    .cards__card:hover .card__img {
        border: 4px solid $colorSecundario;
    }

    .card__title {
        width: 100%;
        text-align: center;
        font-size: 3rem;
        color: $colorPrincipal;
        transition: all 300ms ease-in-out;
    }

    .card__container-text {
        width: 100%;
        margin-bottom: 70px;
        padding: 10px 30px;
        text-align: justify;
    }

    .card__text {
        font-size: 2rem;
        color: $colorOscuro;
    }

    .cards__btns {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 70px;
        text-align: center;
    }

    .cards__btn {
        display: inline-block;
        padding: 14px 40px;
        border: 2px solid $colorPrincipalClaro;
        background-color: $colorBgCard;
        box-shadow: 0 10px 10px -8px $colorOscuro;

        transition: all 300ms ease-in-out;

        font-size: 2.5rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        color: $colorPrincipal;
    }

    .cards__btn:hover {
        transform: scale(1.1);
        border: 2px solid $colorSecundario;
        color: $colorSecundario;
    }
}

@mixin fotoEspecialista($url) {
    width: 100%;
    height: 20rem;
    padding-top: 30px;
    margin-bottom: 2rem;
    background-color: white;

    background-image: $url;
    background-repeat: no-repeat;
    background-size: cover;
}

@include especialista;

.card__container-img--1 {
    @include fotoEspecialista(url("/assets/img/medico_hombre.jpg"))
}

.card__container-img--2 {
    @include fotoEspecialista(url("/assets/img/medico_hombre1.jpg"))
}

.card__container-img--3 {
    @include fotoEspecialista(url("/assets/img/medico_hombre2.jpg"))
}

.card__container-img--4 {
    @include fotoEspecialista(url("/assets/img/medico_hombre3.webp"))
}

.card__container-img--5 {
    @include fotoEspecialista(url("/assets/img/medico_hombre4.webp"))
}