//Colores
$colorPrincipal: #83A603;
$colorSecundario: #49B1F2;
$colorPrincipalClaro: #A8BF54;
$colorSecundarioClaro: #D5E5F2;
$colorClaro: #F2F2F2;
$colorOscuro: #555555;
$colorBg: #dfe9f0;
$colorBgCard: #F2F7F9;
$colorTransparent: transparent;

//Fuente
$fuentePrincipal: "RC", Helvetica, sans-serif;