@charset "UTF-8";
.home__nav,
.home__nav--login {
  position: relative;
  padding: 20px 100px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 85px;
  background-color: #F2F7F9;
  box-shadow: 0 2px 10px 0px #555555;
}

#active {
  color: #A8BF54;
}

.nav__container-img,
.nav__container-img--login {
  width: 100px;
}

/* .nav__link{}  */
.nav__img,
.nav__img--login {
  max-width: 100%;
  max-height: 100%;
}

.nav__lista,
.nav__lista--login {
  display: inline-flex;
  gap: 100px;
}

.nav__option,
.nav__option--login {
  font-size: 2.5rem;
  font-weight: bold;
  color: #49B1F2;
  transition: scale 300ms ease-in-out;
}

.nav__option:hover,
.nav__option--login:hover {
  scale: 1.4;
}

/* .nav__link{} */
.nav__right,
.nav__right--login {
  display: inline-flex;
  gap: 50px;
  align-items: center;
}

.nav__btn-login {
  padding: 8px 60px;
  border: 3px solid #F2F7F9;
  background-color: #49B1F2;
  transition: all 300ms ease-in-out;
}

.btn-login__title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #F2F2F2;
}

.nav__btn-login:hover {
  transform: scale(1.1);
  background-color: #F2F7F9;
  border: 3px solid #49B1F2;
}

.nav__btn-login:hover .btn-login__title {
  color: #49B1F2;
}

.nav__icon,
.nav__icon--login {
  font-size: 4rem;
  color: #49B1F2;
  transition: scale 300ms ease-in-out;
}

.nav__icon:hover,
.nav__icon--login:hover {
  scale: 1.3;
}

.nav__menu {
  display: none;
  z-index: 100;
}

.home__footer {
  position: relative;
  margin-top: 80px;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #F2F7F9;
  box-shadow: 0 2px 10px 0px #555555;
  flex-shrink: 0;
}

.footer__container-legal {
  flex-basis: 33%;
}

.container-legal__list {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 100px;
}

.container-legal__option {
  font-size: 2.2rem;
  font-weight: bold;
  color: #555555;
  padding: 3px 0;
  transition: all 300ms ease-in-out;
}

.container-legal__option:hover {
  color: #555555;
  transform: scale(1.1);
}

.footer__container-description {
  flex-basis: 33%;
  justify-content: center;
}

.footer__description {
  font-size: 1.8rem;
  color: #555555;
  text-align: justify;
  margin-right: 100px;
}

.footer__container-rrss {
  flex-basis: 33%;
  display: flex;
  justify-content: center;
}

.container-rrss__rrss {
  flex-basis: 20%;
  transition: all 300ms ease-in-out;
}

.container-rrss__rrss:hover {
  transform: scale(1.1);
}

.container-rrss__rrss:hover .rrss__text {
  color: #49B1F2;
}

.rrss__icon {
  font-size: 5rem;
  color: #49B1F2;
}

.rrss__text {
  font-size: 2.4rem;
  font-weight: bold;
  color: #555555;
  transition: all 200ms ease-in-out;
}

#button-up {
  width: 60px;
  height: 60px;
  background: #49B1F2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F2F2F2;
  border-radius: 50%;
  font-size: 2rem;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  border: 4px solid transparent;
  z-index: 20;
  transition: all 300ms ease-in-out;
  transform: scale(0);
}

#button-up:hover {
  transform: scale(1.1);
  border-color: rgba(0, 0, 0, 0.1);
}

.cards__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.cards__container--index {
  justify-content: space-between;
}

.cards__card {
  position: relative;
  flex-basis: calc(25% - 40px);
  margin-bottom: 30px;
  box-shadow: 0px 0px 0px 3px rgba(125, 125, 125, 0.1);
  background-color: #F2F7F9;
  transition: transform 300ms ease-in-out;
}

.cards__card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 0px 3px rgba(74, 157, 236, 0.4);
}

.cards__card:hover .card__title,
.cards__card:hover .card__title--clic {
  color: #49B1F2;
}

.cards__card:hover .card__img {
  border: 4px solid #49B1F2;
}

.card__title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: #83A603;
  transition: all 300ms ease-in-out;
}

.card__container-text {
  width: 100%;
  margin-bottom: 70px;
  padding: 10px 30px;
  text-align: justify;
}

.card__text {
  font-size: 2rem;
  color: #555555;
}

.cards__btns {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 70px;
  text-align: center;
}

.cards__btn {
  display: inline-block;
  padding: 14px 40px;
  border: 2px solid #A8BF54;
  background-color: #F2F7F9;
  box-shadow: 0 10px 10px -8px #555555;
  transition: all 300ms ease-in-out;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #83A603;
}

.cards__btn:hover {
  transform: scale(1.1);
  border: 2px solid #49B1F2;
  color: #49B1F2;
}

.card__container-img--1 {
  width: 100%;
  height: 20rem;
  padding-top: 30px;
  margin-bottom: 2rem;
  background-color: white;
  background-image: url("/assets/img/medico_hombre.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card__container-img--2 {
  width: 100%;
  height: 20rem;
  padding-top: 30px;
  margin-bottom: 2rem;
  background-color: white;
  background-image: url("/assets/img/medico_hombre1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card__container-img--3 {
  width: 100%;
  height: 20rem;
  padding-top: 30px;
  margin-bottom: 2rem;
  background-color: white;
  background-image: url("/assets/img/medico_hombre2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card__container-img--4 {
  width: 100%;
  height: 20rem;
  padding-top: 30px;
  margin-bottom: 2rem;
  background-color: white;
  background-image: url("/assets/img/medico_hombre3.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.card__container-img--5 {
  width: 100%;
  height: 20rem;
  padding-top: 30px;
  margin-bottom: 2rem;
  background-color: white;
  background-image: url("/assets/img/medico_hombre4.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.main__personal {
  text-align: center;
}

.personal__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 50px;
}

.personal__container-left {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 50px;
}

.container-left__container {
  background-color: #F2F7F9;
  box-shadow: 0px 0px 0px 3px rgba(125, 125, 125, 0.1);
  transition: all 300ms ease-in-out;
}

.container-left__btn {
  padding: 15px;
}

.container-left__title {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: #83A603;
  transition: all 200ms ease-in-out;
}

.container-left__container:hover {
  transform: scale(1.1);
}

.container-left__container:hover .container-left__title {
  color: #49B1F2;
  font-weight: bold;
}

.personal__container-right {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.container-right__container-img {
  width: 100%;
}

.container-right__img {
  max-width: 400px;
  max-height: 400px;
  border: 2px solid #83A603;
  border-radius: 200px;
  margin: 0 auto;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
}

.container-right__btn {
  background-color: #F2F7F9;
  width: 60%;
  margin-top: 20px;
  padding: 10px;
  background-color: #F2F7F9;
  border: 1px solid #83A603;
  transition: all 300ms ease-in-out;
}

.container-right__title {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  color: #83A603;
  transition: all 200ms ease-in-out;
}

.container-right__btn:hover {
  transform: scale(1.1);
  border: 1px solid #49B1F2;
}

.container-right__btn:hover .container-right__title {
  color: #49B1F2;
  font-weight: bold;
}

.main__shop {
  width: 100%;
}

.shop__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 50px;
}

.shop__container-left {
  flex-basis: calc(70% - 50px);
  background-color: #F2F7F9;
  padding: 25px;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
  box-shadow: 0px 0px 0px 3px rgba(125, 125, 125, 0.1);
}

.container-left__container-description-shop {
  width: 100%;
  flex-basis: 100%;
}

.container-left__title-shop {
  font-size: 2.5rem;
  text-align: center;
  color: #83A603;
  padding-bottom: 10px;
}

.container-left__description-shop {
  font-size: 2rem;
  color: #555555;
  text-align: justify;
}

.shop__container-right {
  position: relative;
  flex-basis: calc(30% - 50px);
  background-color: #F2F7F9;
  padding: 25px;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0px 0px 0px 3px rgba(125, 125, 125, 0.1);
}

.container-right__title-shop {
  font-size: 2.5rem;
  text-align: center;
  color: #83A603;
  padding-bottom: 10px;
}

.container-right__description-shop {
  font-size: 2rem;
  color: #555555;
  text-align: justify;
}

.container-right__btn-shop {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 10px;
  border: 3px solid #F2F7F9;
  background-color: #49B1F2;
  transition: all 300ms ease-in-out;
  text-align: center;
  bottom: 20px;
  right: 50%;
  transform: translate(50%);
}

.btn-shop__title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #F2F2F2;
}

.container-right__btn-shop:hover {
  background-color: #F2F7F9;
  border: 3px solid #49B1F2;
}

.container-right__btn-shop:hover .btn-shop__title {
  color: #49B1F2;
}

.datos__dato {
  padding: 15px;
  background-color: #F2F7F9;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -5px -5px 5px rgba(255, 255, 255, 0.1);
}

.dato__title {
  font-size: 3rem;
  color: #83A603;
}

.dato__text {
  font-size: 3.5rem;
  font-weight: bold;
  color: #49B1F2;
}

#a1 {
  grid-area: a1;
}

#a2 {
  grid-area: a2;
}

#a3 {
  grid-area: a3;
}

#a4 {
  grid-area: a4;
}

#a5 {
  grid-area: a5;
}

#a6 {
  grid-area: a6;
}

#a7 {
  grid-area: a7;
}

.section1__datos {
  margin-top: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "a1 a1 a1 a3" "a2 a2 a6 a7" "a5 a5 a5 a4";
}

.faqs__faq {
  background-color: #F2F7F9;
  box-shadow: 0px 0px 0px 3px rgba(125, 125, 125, 0.1);
  margin: 20px;
  padding: 20px;
  cursor: pointer;
}

.faq__quest {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #555555;
}

.faq__answer {
  margin: 5px 20px;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  text-align: justify;
  color: #555555;
}

.especialistas__search {
  padding-bottom: 50px;
}

.search__input {
  margin: 0 auto;
  width: 70%;
  height: 50px;
  padding-left: 8px;
  outline: none;
  overflow: hidden;
  background-color: #F2F7F9;
  border: 2px solid transparent;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -5px -5px 5px rgba(255, 255, 255, 0.1), inset 5px 5px 5px rgba(0, 0, 0, 0.1), inset -5px -5px 5px rgba(255, 255, 255, 0.1);
  transition: all 300ms ease-in-out;
  font-size: 2.5rem;
  color: #555555;
}

.search__input:focus,
.search__input:hover {
  border: 2px solid #49B1F2;
  box-shadow: 0px 0px 0px 7px rgba(74, 157, 236, 0.2);
  background-color: #F2F2F2;
}

/* SECCIÓN 1 */
.cards__header,
.opinions__header,
.faqs__header,
.personal__header,
.mis-citas__header,
.shop__header {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.cards__title,
.opinions__title,
.faqs__title,
.personal__title,
.mis-citas__title,
.shop__title {
  font-size: 5rem;
  font-weight: bold;
  color: #83A603;
  margin-top: 40px;
}

.home__main {
  width: 80%;
  margin: 0 auto;
  flex: 1;
}

.home__main--flex {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__section-1 {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 50px;
  gap: 50px;
}

.section-1__left {
  flex-basis: calc(50% - 50px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 6rem;
}

.left__logo {
  width: 100%;
}

.left__subtitle {
  margin-top: -30px;
  margin-bottom: 5px;
  font-size: 2rem;
  text-align: center;
  color: #555555;
}

.left__title {
  margin-bottom: 3px;
  font-size: 4rem;
  color: #83A603;
}

.left__description {
  font-size: 2rem;
  color: #555555;
}

.section-1__right {
  flex-basis: calc(50% - 50px);
}

.right__container-img {
  width: 100%;
}

.right__img {
  width: 100%;
  border-radius: 20px;
}

/* SECCIÓN 2 */
.section-2__cards {
  width: 100%;
}

/* SECCIÓN 3 */
.main__section-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 70px;
  gap: 50px;
}

.section-3__left {
  flex-basis: calc(50% - 50px);
}

.left__img {
  width: 100%;
  border-radius: 20px;
}

.section-3__right {
  flex-basis: calc(50% - 50px);
  text-align: justify;
}

.right__description {
  font-size: 2.3rem;
  color: #555555;
}

/* SECCIÓN 4 */
.main__section-4 {
  width: 100%;
  margin: 0 auto;
}

.opinions__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.opinions__opinion {
  position: relative;
  flex-basis: calc(50% - 50px);
  box-shadow: 0px 0px 0px 3px rgba(125, 125, 125, 0.1);
  padding-top: 0;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 15px;
  margin-right: 25px;
  margin-top: 45px;
  margin-bottom: 20px;
  background-color: #F2F7F9;
}

.opinion__container-inf {
  position: absolute;
  bottom: 20px;
}

.opinion__container-img {
  width: 100%;
}

.opinion__img {
  max-width: 90px;
  max-height: 90px;
  border-radius: 90px;
  margin: 0 auto;
  margin-top: -45px;
  margin-bottom: 20px;
  box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.25);
}

.opinion__container-description {
  margin-bottom: 100px;
}

.opinion__description {
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #555555;
  text-align: justify;
}

.opinion__star {
  font-size: 1.7rem;
  color: #83A603;
}

.opinion__author {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.opinion__name {
  margin-bottom: 5px;
  font-size: 1.7rem;
}

.opinion__icon {
  font-size: 4rem;
  color: #83A603;
}

/* INDEX LOGIN */
.nav__radio--login {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: #F2F7F9;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px #49B1F2;
  padding: 2.5px;
  width: 250px;
  font-size: 14px;
}

.radio__label--login {
  flex: 1 1 auto;
  text-align: center;
}

.radio__input--login {
  display: none;
}

.radio__text--login {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 5px 0;
  color: #555555;
  letter-spacing: 0.1rem;
  transition: all 0.15s ease-in-out;
}

.radio__input--login:checked + .radio__text--login {
  background-color: #D5E5F2;
  color: #49B1F2;
}

.mis-citas__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.mis-citas__mi-cita {
  flex-basis: calc(50% - 50px);
  box-shadow: 0px 0px 0px 3px rgba(125, 125, 125, 0.1);
  padding: 20px;
  background-color: #F2F7F9;
}

.mi-cita__header {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.mi-cita__title-top {
  font-weight: bold;
  color: #83A603;
  font-size: 2.5rem;
}

.mi-cita__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
}

.mi-cita__container-img {
  flex-basis: calc(20% - 30px);
  width: 100%;
}

.mi-cita__img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 90px;
  margin: 0 auto;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
}

.mi-cita__container-description {
  flex-basis: calc(80% - 30px);
  width: 100%;
  text-align: justify;
}

.mi-cita__description {
  font-size: 1.6rem;
  color: #555555;
}

.mi-cita__btns {
  width: 100%;
  padding: 10px;
  text-align: end;
}

.mi-cita__btn {
  display: inline-block;
  padding: 7px 20px;
  border: 2px solid #A8BF54;
  background-color: #F2F7F9;
  box-shadow: 0 10px 10px -8px #555555;
  transition: all 300ms ease-in-out;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #83A603;
}

.mi-cita__btn:hover {
  transform: scale(1.1);
  border: 2px solid #49B1F2;
  color: #49B1F2;
}

.main__container-cita {
  margin-bottom: 100px;
  width: 500px;
  padding: 10px 50px;
  background-color: #F2F7F9;
  box-shadow: 0px 0px 0px 7px rgba(74, 157, 236, 0.2);
}

.cita__container-sup {
  padding: 0;
}

.cita__header {
  flex-basis: auto;
  margin-bottom: 30px;
  text-align: center;
}

.cita__title {
  font-size: 5rem;
  font-weight: bold;
  color: #83A603;
}

.cita__label {
  font-size: 2rem;
  color: #555555;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.cita__input {
  width: 400px;
  height: 30px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  border: 1px solid #555555;
}

.cita__button {
  padding: 8px 0;
  border: 3px solid #F2F7F9;
  background-color: #49B1F2;
  transition: all 300ms ease-in-out;
  text-align: center;
  margin-bottom: 20px;
}

.button-cita__title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #F2F2F2;
}

.cita__button:hover {
  transform: scale(1.1);
  background-color: #F2F7F9;
  border: 3px solid #49B1F2;
}

.cita__button:hover .button-cita__title {
  color: #49B1F2;
}

.main__container-login {
  margin-bottom: 100px;
  width: 500px;
  padding: 10px 50px;
  background-color: #F2F7F9;
  box-shadow: 0px 0px 0px 7px rgba(74, 157, 236, 0.2);
}

.login__container-sup {
  padding: 0;
}

.login__radio {
  margin-top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.login__container-img {
  width: 100%;
}

.login__img {
  max-width: 120px;
  max-height: 120px;
  border-radius: 90px;
  margin: 0 auto;
  margin-top: -70px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 0px 7px rgba(74, 157, 236, 0.2);
  background-color: #F2F7F9;
}

.login__header {
  flex-basis: auto;
  margin-bottom: 30px;
  text-align: center;
}

.login__title {
  font-size: 5rem;
  font-weight: bold;
  color: #83A603;
}

.login__label,
.shop__label {
  font-size: 2rem;
  color: #555555;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.login__input,
.shop__input {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  border: 1px solid #555555;
}

.shop__input--last {
  margin-bottom: 85px;
}

.login__button {
  padding: 8px 0;
  border: 3px solid #F2F7F9;
  background-color: #49B1F2;
  transition: all 300ms ease-in-out;
  text-align: center;
  margin-bottom: 20px;
}

.button-login__title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #F2F2F2;
}

.login__button:hover {
  transform: scale(1.1);
  background-color: #F2F7F9;
  border: 3px solid #49B1F2;
}

.login__button:hover .button-login__title {
  color: #49B1F2;
}

.login__register {
  padding-bottom: 7px;
  width: 110px;
}

.register__text {
  color: #555555;
  font-size: 2rem;
}

.register__text:hover {
  color: #49B1F2;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

p a {
  display: inline;
}

img,
video,
iframe,
picture,
figure {
  max-width: 100%;
  display: block;
}

form,
input,
select,
textarea,
button,
label {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

@media (max-width: 1565px) {
  /* Cartas de especialistas */
  .cards__card {
    flex-basis: calc(33% - 40px);
  }
}
@media (max-width: 1500px) {
  /* Barra de navegación */
  .nav__lista--login {
    gap: 50px;
  }
  .nav__right--login {
    gap: 30px;
  }
}
@media (max-width: 1430px) {
  /* Barra de navegación */
  .nav__lista {
    gap: 50px;
  }
  .nav__right {
    gap: 30px;
  }
  /* Footer */
  .footer__container-legal {
    flex-basis: 50%;
  }
  .footer__container-description {
    flex-basis: calc(50% - 30px);
    margin-right: 30px;
  }
  .footer__container-rrss {
    flex-basis: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 1300px) {
  /* Barra de navegación */
  .nav__lista--login {
    gap: 30px;
  }
  .option__link--login {
    font-size: 2rem;
  }
}
@media (max-width: 1255px) {
  /* Barra de navegación */
  .nav__lista {
    gap: 40px;
  }
  .nav__btn-login {
    padding: 8px 30px;
  }
  .cards__title {
    margin: 0;
  }
  /* Quitar las imagenes y poner el texto al 100% */
  .right__container-img {
    display: none;
  }
  .left__container-img {
    display: none;
  }
  .section-1__left {
    flex-basis: 100%;
  }
  .section-3__right {
    flex-basis: 100%;
  }
  .main__section-1 {
    padding-bottom: 0;
  }
  .cards__btns {
    padding-bottom: 20px;
  }
}
@media (max-width: 1165px) {
  /* Barra de navegación */
  .nav__lista {
    gap: 35px;
  }
  .home__nav {
    padding: 20px 50px;
  }
  .option__link {
    font-size: 2rem;
  }
  .nav__btn-login {
    padding: 8px 30px;
  }
  /* Cartas de especialistas */
  .cards__card {
    flex-basis: calc(50% - 40px);
  }
  /* Cartas de opiniones */
  .opinions__opinion {
    flex-basis: 100%;
  }
  /* Barra de navegación */
  .nav__lista--login {
    gap: 35px;
  }
  .home__nav--login {
    padding: 20px 50px;
  }
  .option__link--login {
    font-size: 2rem;
  }
  /* Mis citas */
  .mis-citas__mi-cita {
    flex-basis: 100%;
  }
  .container-right__img {
    max-width: 300px;
    max-height: 300px;
  }
  /* Footer */
  .option__link--footer {
    width: 10%;
  }
}
@media (max-width: 1335px) {
  /* Carrito */
  .shop__container {
    display: block;
  }
  .shop__container-left {
    margin-bottom: 50px;
  }
  .shop__input {
    width: 100%;
  }
}
@media (max-width: 1070px) {
  /* Barra de navegación */
  .nav__container-img--login {
    display: none;
  }
  .nav__lista--login {
    gap: 40px;
  }
  .option__link--login {
    font-size: 1.7rem;
  }
  .nav__radio--login {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 2.5px;
    width: 200px;
    font-size: 1.4rem;
  }
}
@media (max-width: 980px) {
  /* Barra de navegación */
  .nav__container-img {
    display: none;
  }
  .btn-login__title {
    font-size: 2rem;
  }
  .nav__btn-login {
    padding: 8px 18px;
  }
  .nav__lista {
    gap: 50px;
  }
  .option__link {
    font-size: 2rem;
  }
  /* Footer */
  .home__footer {
    justify-content: center;
  }
  .footer__container-legal {
    flex-basis: 100%;
    margin: 0;
    margin-left: -100px;
  }
  .container-legal__list {
    display: inline-flex;
    gap: 20px;
  }
  .footer__container-description {
    flex-basis: 100%;
    margin-left: 120px;
  }
  .footer__container-rrss {
    flex-basis: 100%;
  }
}
@media (max-width: 870px) {
  /* Menu movil */
  .home__nav,
  .home__nav--login {
    display: none;
    padding-top: 100px;
  }
  .main__menu--show {
    display: block;
  }
  .nav__menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 40px;
  }
  .nav__menu-icon {
    font-size: 50px;
    color: #49B1F2;
    cursor: pointer;
  }
  .nav__lista,
  .nav__lista--login {
    display: block;
    line-height: 40px;
    padding-top: 20px;
  }
  .home__main {
    margin-top: 100px;
  }
}
@media (max-width: 800px) {
  .section1__datos {
    grid-template-areas: "a1 a1 a1 a3" "a2 a2 a2 a7" "a2 a2 a2 a6" "a5 a5 a5 a5" "a4 a4 a4 a4";
  }
}
@media (max-width: 775px) {
  .cards__card {
    flex-basis: 100%;
  }
}
@media (max-width: 700px) {
  .personal__container {
    flex-direction: column;
  }
}
@media (max-width: 525px) {
  .dato__text {
    font-size: 2.8rem;
  }
}
@media (max-width: 550px) {
  .mi-cita__container-img {
    display: none;
  }
  .mi-cita__container-description {
    flex-basis: 100%;
  }
}
@media (max-width: 420px) {
  .nav__radio--login {
    width: 40%;
  }
  .dato__text {
    font-size: 2rem;
  }
  .dato__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 320px) {
  .section1__datos {
    grid-template-areas: "a1 a1 a1 a1" "a2 a2 a2 a2" "a3 a3 a3 a3" "a4 a4 a4 a4" "a5 a5 a5 a5" "a6 a6 a6 a6" "a7 a7 a7 a7";
  }
  .dato__text {
    font-size: 1.5rem;
  }
}
@media (max-width: 285px) {
  .nav__radio--login {
    display: none;
  }
}
.reproductor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.reproductor i {
  font-size: 4rem;
  color: #49B1F2;
  transition: color 200ms ease-in-out;
}

.reproductor i:hover {
  color: #83A603;
}

.reproductor-video {
  margin: 0 auto;
  width: 390px;
}

html {
  font-size: 10px;
}

body {
  font-family: "RC", Helvetica, sans-serif;
  background-color: #dfe9f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */