@media (max-width: 1565px) {
    body {
        background-color: brown;
    }

    /* Cartas de especialistas */
    .cards__card {
        flex-basis: calc(33% - 4rem);
    }
}

@media (max-width: 1430px) {
    body {
        background-color: blue;
    }

    /* Barra de navegaci贸n */
    .nav__lista {
        gap: 5rem;
    }

    .nav__right {
        gap: 3rem;
    }

    /* Footer */
    .footer__container-legal {
        flex-basis: 50%;
    }

    .footer__container-description {
        flex-basis: calc(50% - 30px);
        margin-right: 30px;
    
    }
    
    .footer__container-rrss {
        flex-basis: 100%;
    }
}

@media (max-width: 1255px) {
    body {
        background-color: red;
    }

    /* Barra de navegaci贸n */
    .nav__lista {
        gap: 4rem;
    }

    .nav__btn-login {
        padding: 0.8rem 3rem;
    }

    /* Quitar las imagenes y poner el texto al 100% */
    .right__container-img {
        display: none;
    }

    .left__container-img {
        display: none;
    }

    .section-1__left {
        flex-basis: 100%;
    }

    .section-3__right {
        flex-basis: 100%;
    }
}

@media (max-width: 1165px) {
    body {
        background-color: yellow;
    }

    /* Barra de navegaci贸n */
    .nav__lista {
        gap: 3.5rem;
    }

    .home__nav {
        padding: 0 5rem;
    }

    .option__link {
        font-size: 2rem;
    }

    .nav__btn-login {
        padding: 0.8rem 3rem;
    }

    /* Cartas de especialistas */
    .cards__card {
        flex-basis: calc(50% - 4rem);
    }

    /* Cartas de opiniones */
    .opinions__opinion{
        flex-basis: 100%;
    }
}

@media (max-width: 980px) {
    body {
        background-color: burlywood;
    }

    /* Barra de navegaci贸n */
    .nav__container-img {
        display: none;
    }

    .btn-login__title {
        font-size: 2rem;
    }

    .nav__btn-login {
        padding: 0.8rem 1.8rem;
    }

    .nav__lista {
        gap: 5rem;
    }

    .option__link {
        font-size: 2rem;
    }

    /* Footer */
    .home__footer {
        justify-content: center;
    }

    .footer__container-legal {
        flex-basis: 100%;
    }

    .footer__container-description {
        flex-basis: 100%;
        margin: 10px;
    
    }
    
    .footer__container-rrss {
        flex-basis: 100%;
    }
}

@media (max-width: 850px) {
    /* Menu hamburguesa */
}