@media (max-width: 1420px) {
    body {
        background-color: blue;
    }

    .nav__lista {
        gap: 5rem;
    }

    .nav__right {
        gap: 3rem;
    }
}

@media (max-width: 1255px) {
    body {
        background-color: red;
    }

    .nav__lista {
        gap: 2rem;
    }

    .nav__btn-login {
        padding: 0.8rem 3rem;
    }
}

@media (max-width: 1090px) {
    body {
        background-color: yellow;
    }

    .nav__lista {
        gap: 1rem;
    }

    .home__nav {
        padding: 0 5rem;
    }

    .nav__container-img {}

    .nav__btn-login {
        padding: 0.8rem 3rem;
    }
}

@media (max-width: 1000px) {
    body {
        background-color: pink;
    }

    .nav__lista {
        gap: 3rem;
    }

    .option__link {
        font-size: 1.8rem;
    }

    .btn-login__title {
        font-size: 1.8rem;
    }

    .nav__btn-login {
        padding: 0.8rem 3rem;
    }
}