@media (max-width: 1420px) {
    body {
        background-color: blue;
    }

    .nav__lista {
        gap: 5rem;
    }

    .nav__right {
        gap: 3rem;
    }
}

@media (max-width: 1255px) {
    body {
        background-color: red;
    }

    .nav__lista {
        gap: 4rem;
    }

    .nav__btn-login {
        padding: 0.8rem 3rem;
    }
}

@media (max-width: 1160px) {
    body {
        background-color: yellow;
    }

    .nav__lista {
        gap: 3.5rem;
    }

    .home__nav {
        padding: 0 5rem;
    }

    .option__link {
        font-size: 2rem;
    }

    .nav__btn-login {
        padding: 0.8rem 3rem;
    }
}

@media (max-width: 950px){
    body {
        background-color: burlywood;
    }

    .nav__container-img{
        display: none;
    }

    .btn-login__title {
        font-size:2rem;
    }

    .nav__btn-login {
        padding: 0.8rem 1.8rem;
    }

    .nav__lista {
        gap: 5rem;
    }

    .option__link {
        font-size: 2rem;
    }
}

@media (max-width: 850px){
    /* Menu hamburguesa */
}